<label for="pickCountry">Select Currency: </label>
<select id="pickCountry" ng-model="selectedCurrency" ng-options="x.currency for x in sourceCountries" ng-change="setupCheckboxes(selectedCurrency)">
</select>

<form name="currencyForm">
    <div class="buttonDiv">
        <label for="seondBtn">Get {{selectedCurrency.currency}} Exchange Rates</label>
        <button id="secondBtn" ng-click="getRates()">Get Rates</button><br />
    </div>
    <button id="thirdBtn" ng-click="clearSelection()">Clear</button><br />
    <br />
    <div ng-disabled="disableChecks">
        <div class="checklabel">
            {{checkboxModel[0].code}}
        </div><input type="checkbox" ng-model="checkboxModel[0].value">
        <br />
        <div class="checklabel">
            {{checkboxModel[1].code}}
        </div>
        <input type="checkbox" ng-model="checkboxModel[1].value">
        <br />
        <div class="checklabel">
            {{checkboxModel[2].code}}
        </div>
        <input type="checkbox" ng-model="checkboxModel[2].value">
        <br />
        <div class="checklabel">
            {{checkboxModel[3].code}}
        </div>
        <input type="checkbox" ng-model="checkboxModel[3].value">
        <br />
    </div>
     <br/>

    <div>
        <h3>Date: {{requestDate}}</h3>
        <table>
            <tr><th>Currency</th><th>Rate</th></tr>
            <tr ng-repeat="check in checkboxModel" ng-if:"checkboxModel.value>
                <td>{{check.code}}</td>
                <td>{{check.rate}}</td>
            </tr>
            <!--<tr ng-if="checkboxModel.AUD">
                <td>AUD</td>
                <td>{{quotes["USDAUD"] | number : 2}}</td>
            </tr>
            <tr ng-if="checkboxModel.EUR">
                <td>EUR</td>
                <td>{{quotes["USDEUR"] | number: 2}}</td>
            </tr>
            <tr ng-if="checkboxModel.GBP">
                <td>GBP</td>
                <td>{{quotes["USDGBP"] | number : 2}}</td>
            </tr>
            <tr ng-if="checkboxModel.PLN">
                <td>PLN</td>
                <td>{{quotes["USDPLN"] | number : 2}}</td>
            </tr>-->


        </table>

    </div>
</form>