<div>
    <label for="selectLocation">Select location:</label>
    <select ng-model="selectedLocation" ng-options="x['@fullname'] for x in locations"></select><br /><br />
    <button id="secondBtn" ng-click="getWeather()">Show Weather</button><br />
</div><br />
<div ng-show="weather">
    <table>
        <tr>
            <td></td><td>{{weather.RegionalFcst.issuedAt | date:'medium'}}</td>
        </tr>
        
        <tr ng-repeat="period in weather.RegionalFcst.FcstPeriods.Period" ng-if="$first">
            <td>{{period.Paragraph[0].title}}</td>
            <td>{{period.Paragraph[0].$}}</td>
        </tr>

        <tr ng-repeat="period in weather.RegionalFcst.FcstPeriods.Period" ng-if="$first">
            <td>{{period.Paragraph[1].title}}</td>
            <td>{{period.Paragraph[1].$}}</td>
            </tr>
        <tr ng-repeat="period in weather.RegionalFcst.FcstPeriods.Period" ng-if="$first">
            <td>{{period.Paragraph[2].title}}</td>
            <td>{{period.Paragraph[2].$}}</td>
        </tr>
        <tr ng-repeat="period in weather.RegionalFcst.FcstPeriods.Period" ng-if="!$first">
            <td>{{period.Paragraph.title}}</td>
            <td>{{period.Paragraph.$}}</td>
        </tr>
    </table>

</div>