body {
}

.red {
    background-color:red;
}

.blue {
    background-color:blue;
}

.green {
    background-color:green;
}

table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
h1 {color:blue}
h2{color:yellowgreen}

.checklabel{
    width:50px;
    float:left;
}

.buttonDiv{
    float:left;
}

.mainPage{
    background-color:lightblue;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


#timer{
    float:right;
    padding-right:100px;
}

#countryPicker{
    float:left;
}

#subPage{
    float:left;
    margin-top:50px;
}

img {
    width: 100%;
    height: auto;
}

.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

#weather{
    float:left;
}

.currentPicture{
    float:right;
    clear:left;
}

#nextBtn{
        clear:right;
}